/* Base & Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html, body {
    height: 100%;
}
body {
  background-color: #f5f7fa;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #003366;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  color: #003366;
}

